@model WebApi.Infrastructure.Models.Requests.ChangePasswordAdmin

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>